@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

.item-card {
  border: 1px solid lightgray; 
  border-radius: 0; 
  position: relative; 
  padding: 5px 10px 10px 10px; 

  .bolt-card-content {
    padding-left: 0; 
  }

  &::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    
    display: block;
    height: 100%; 
    width: 3px; 
    background: green; 

  }
}

svg {
  pointer-events: none; 
  position: relative;

  circle {
    pointer-events: auto; 
    z-index: 2;
    cursor: pointer;
  }
}

 
.dependency-board-item--expanded {
  width: 90%; 
  height: 70vh; 
}