@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

.dependency-board {
  position: relative;
  display: flex; 
  height: 90%;
  width: 700px; 
  margin: 10px; 
}

svg {
  pointer-events: none; 
  position: relative;

  circle {
    pointer-events: auto; 
    z-index: 2;
  }
  
  &:hover circle::after {
      content: "";
 
      background: green; 
      width: 20px;
      height: 20px;
    }
 
}

 